.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem
}

.mr-2 {
  margin-right: 0.5rem
}

.h-7 {
  height: 1.75rem
}

.w-7 {
  width: 1.75rem
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.rounded-full {
  border-radius: 9999px
}

.bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.pt-4 {
  padding-top: 1rem
}

.pb-3 {
  padding-bottom: 0.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold {
  font-weight: 700
}